<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Clinico for MR</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "ログイン", login_path, class: "btn btn-outline-primary ms-2" %>
      </li>
      <li class="nav-item">
      <%= button_to "Googleログイン", "/auth/google_oauth2", data: { turbo: false }, class: "btn btn-outline-primary ms-2", form_class: "d-inline" %>
      </li>
    </ul>
  </header>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
</div>