<div data-controller="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">

    <a href="#" data-action="click->sidebar#toggle" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">サイドバー</span>
    </a>
    <hr>
    <div data-sidebar-target="panel">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/clinics/new" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          クリニック登録
        </a>
      </li>
      <li>
        <a href="/clinics" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          クリニック一覧
        </a>
      </li>
      <li>
        <a href="/products/new" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          製品登録
        </a>
      </li>
      <li>
        <a href="/products" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          製品一覧
        </a>
      </li>
      <li>
        <a href="/tasks" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          タスク管理
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= current_user.name %></strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        
        <li><a class="dropdown-item" href="#">設定</a></li>
        <li><a class="dropdown-item" href="#">プロフィール</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">サインアウト</a></li>
      </ul>
    </div>
  </div>
</div>
